<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.sjsu.ireportgrp8">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="24" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.mydomain.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UserRegistration" />
        <activity
            android:name=".UserSettings"
            android:label="@string/title_activity_user_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AccountActivity" />
        <activity
            android:name=".ReportActivity"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".ReportFormActivity"
            android:parentActivityName=".ReportActivity"></activity>

        <uses-feature
            android:name="android.hardware.camera"
            android:required="false" />

        <activity
            android:name=".SearchResultsActivity"
            android:label="@string/app_name">

            <!-- to identify this activity as "searchable" -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name=".DetailedReportActivity"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".MapActivity"
            android:label="@string/title_activity_maps"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".CityOfficialActivity"
            android:label=""
            android:theme="@style/AppTheme">
	    
	    
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchResultsActivity" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="iReport.firebase.google.com"
                    android:pathPrefix="/message"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".ReportsListView" />
        <activity
            android:name=".ReportDetailActivity"
            android:hardwareAccelerated="false" />
        <activity android:name=".UserReportsMapActivity" />
        <activity android:name=".HeatMapActivity"></activity>
    </application>

</manifest>